@import "./player";
@import "./song";
@import "./library";
@import "./nav";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background:#0e0e10;
    color: #fff;
}
body{
    font-family: 'Lato', sans-serif;
}
h3,h4{
    font-weight: 400;
    color: rgb(194, 194, 194);
}

.App{
    transition: all 0.5s ease;
}
.library-active{
    margin-left: 30%;
}